*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.logo{
    color: #ff4668;
    align-items: center;
    position: relative;
    left: 50px;
    top: 7px;
   
    
}


.searchbar{
    display: flex;
    border: solid black 2px;
    width: 24%;
    border-radius: 30px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    position: relative;
    right: 7px;
    
}

.searchbar122{
    display: flex;
    border: solid black 2px;
    width: 20%;
    border-radius: 30px;
    justify-content: space-evenly;
    align-items: center;
}



.search{
    color: #ff4668;

}

i{
    font-size: 20px;
}

.login{
    border: solid black 1px;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
    position: relative;
    right: 20px;
    
}

.login:hover{
    color: #ff4668;
}

.main{
  padding: 15px;
  display: flex;
  justify-content: space-around;
  
}
.filter{
    text-align: center;
    color: rgb(96, 93, 93);
    display: inline-block;
    position: relative;
   
}
.filter::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .filter:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.filter:hover{
    color: #ff4668;

}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    border-radius: 100px;

}

img{
    border-radius: 15px;
    transition-duration: 1s;
}

img:hover{
    transform: scale(1.1);
    
}

.head{
    padding: 20px;
    position: relative;
    left: 60px;
}
.save{
    position: relative;
    left: 60%;
    bottom: 20px;
}

.box1{
    position: absolute;
    left: 70px;
    
}

.box2{
    position: absolute;
    left: 600px;
}

.box3{
    position: relative;
    right: 60px;
    top: 150px;
}
.box4{
    position: relative;
    left: 830px;
    bottom: 170px;
}   

.box5{
    position: relative;
    left: 830px;
    bottom: 160px
}

.nature{

    position: relative;
    bottom: 100px;
    left:70px

}


.move{
    position: relative;
    left: 130px;
}

.show{
    position: relative;
    left: 1050px;
    bottom: 200px;
    transition-duration: 0.5s;
}

.show:hover{
    transform:scale(1.1);
    color: gray;
}

footer{
    position: sticky;
    bottom: 0;
    text-align: center;
    background-color: antiquewhite;
    padding: 7px;
}
